<section class="header">
  <div class="container">
    <a href="#" class="header__logo"></a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-list--item">Home</li>
        <li class="header__nav-list--item">My library</li>
      </ul>

      <form id="search-form">
        <input
          type="text"
          id="search-movie"
          name="search-film"
          placeholder="Movie search"
        />
      </form>

      <!-- <div class="header__btn">
        <button type="button" class="header__btn--item"></button>
        <button type="button" class="header__btn--item"></button>
      </div> -->
    </nav>
  </div>
</section>
