<section class="main-section">
  <div class="container">
    <div class="filmsContainer"></div>
  </div>

  <button type="button" class="load-more">Load more</button>

  <button id="myBtn" title="Go to top">Top</button>
</section>

<!-- <ul class="films">
      <li class="film__item film__border">
        <div class="film__card-thumb">
          <img src="#" alt="film" />
        </div>
        <div class="film__card-content">
          <h2 class="film__title">{title}</h2>
          <div class="film__description--set">
            <p class="film__genre set__item">{genre_ids}</p>
            <p class="film__year set__item">{release_date}</p>
          </div>
        </div>
      </li>
    </ul> -->
